<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CBDetect</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <!-- navbar sections starts  -->
    <header class="header">
        <div class="logo">
            <img src="static/images/logo.png" alt="logo">
        </div>

        <nav class="navbar">
            <a href="#home">Home</a>
            <a href="#articles">Articles</a>
            <a href="#detect">Detect</a>
            <a href="#footer">Contact</a>
        </nav>
   
        <div class="fas fa-bars" id="menu-btn"></div>

    </header>
    <!-- navbar sections ends  -->

   
    <!-- home section stars  -->

    <section class="home" id="home">
        <div class="content">
            <h1>Cyber Detection</h1>
            <h2>Recognize and Resist</h2>

            <p>A simple web application designed to facilitate the detection of cyberbullying instances on Instagram platform. 
                Utilizing a Multilingual Transformer-Based Framework and Bidirectional LSTM with Attention Mechanism, 
                our application aims to provide a solution for identifying potential cyberbullying occurrences.</p>

            <p style="font-style: italic;">This is in partial fulfillment of "Cultural Contexts of Cyberbullying on Instagram: 
                A Multilingual Transformer-Based Framework and Bidirectional LSTM with Attention Mechanism"
                , a thesis of three students from the Technological Institute of the Philippines - Quezon City: 
                Joshua Avena, Svepllana Celeste and Lance Evangelista.</p>

            <a href="#detect" class="home-btn">Try Now?</a>
        </div>


        <div class="image">
            <img src="static/images/home-hero.svg" alt="illustration-hero">
        </div>

    </section>

    <!-- home section ends -->


        <!-- call -->
        <section class="call">
            <div class="call-container">

            <div class="img">
            <img src="static/images/call-img.png" alt="call">
            </div>

            <div class="text">
                <h1>NCMH Crisis Hotline</h1>
                <p>NCMH Crisis Hotline provides 24/7, free, compassionate and confidential support over phone.</p>
                
                <i class="fa-solid fa-clock"> OPEN 24/7</i><br>
                <i class="fa-solid fa-phone"> 1553</i>
            </div>

            </div>
        </section>
        <!-- call -->



    <!-- articles sectin starts  -->

    <section class="articles" id="articles">
        <div class="heading">
            <h1>Articles</h1>
        </div>
    
            <div class="articles-cards">
    
                <!-- Article 1 -->
                <div class="item-1">
                    <a href="https://findahelpline.com/countries/ph/topics/bullying" class="card">
                     <div class="thumb" style="background-image: url(https://www.iasp.info/wp-content/uploads/Find-A-Helpline-logo-official.png);"></div>
                        
                    <article>
                        <h1>find a helpline</h1>
                        <p>Free, confidential support from a helpline or hotline near you. Online chat, text or phone.</p>
                        <span>Crisis Centres & Helplines</span>
                    </article>
    
                    </a>
                </div>
                <!-- Article 1 -->
    
    
                <!-- Article 2 -->
                <div class="item-2">
                    <a href="https://www.pna.gov.ph/articles/search?q=cyberbullying" class="card">
                     <div class="thumb" style="background-image: url(https://www.rappler.com/tachyon/r3-assets/612F469A6EA84F6BAE882D2B94A4B421/img/F5B68F8E45894EC48069CDFA9C46B9E9/pna-fast-facts-august-102-107.jpg);"></div>
                        
                    <article>
                        <h1>Cyberbullying News</h1>
                        <p>The Philippine News Agency is a web-based newswire service of the Philippine government under the supervision of the News and Information Bureau (NIB) 
                           of the Presidential Communications Office (PCO).</p>
                        <span>Philppine News Agency</span>
                    </article>
    
                    </a>
                </div>
                <!-- Article 2 -->
    
    
                <!-- Article 3 -->
                <div class="item-3">
                    <a href="https://www.gmanetwork.com/news/lifestyle/content/836719/cyberbullying-can-be-targeted-at-individuals-groups-ideas-study/story/" class="card">
                     <div class="thumb" style="background-image: url(https://aphrodite.gmanetwork.com/entertainment/tag_pages/original/mobile_banner_1608110042_Mobile2_600x250_.jpg);"></div>
                        
                    <article>
                        <h1>Cyberbullying can be targeted at individuals, groups, ideas–study</h1>
                        <p>Cyberbullying can be aimed not only at individuals, but also at groups and even ideas or beliefs, according to a study released by De La Salle University.</p>
                        <span>GMA News Online</span>
                    </article>
    
                    </a>
                </div>
                <!-- Article 3 -->
    
    
                <!-- Article 4 -->
                <div class="item-4">
                    <a href="https://www.respicio.ph/commentaries/addressing-cyber-bullying-in-the-philippines-the-legal-framework-and-reporting-mechanisms" class="card">
                     <div class="thumb" style="background-image: url(https://th.bing.com/th/id/OIP.qHAe4HGEt-OwXlTM8_mLjwAAAA?rs=1&pid=ImgDetMain);"></div>
                        
                    <article>
                        <h1>Addressing Cyber Bullying in the Philippines: The Legal Framework and Reporting Mechanisms</h1>
                        <p>In the Philippines, the approach to addressing cyberbullying involves multiple layers of the legal framework, particularly when the victims are minors.</p>
                        <span>RESPICIO & CO.</span>
                    </article>
    
                    </a>
                </div>
                <!-- Article 4 -->
    
    
                <!-- Article 5 -->
                <div class="item-5">
                    <a href="https://www.unicef.org/end-violence/how-to-stop-cyberbullying" class="card">
                     <div class="thumb" style="background-image: url(https://www.unicef.org/sites/default/files/styles/hero_extended/public/SID_2020_Hero_0.jpg.webp?itok=OBlrkLNq);"></div>
                        
                    <article>
                        <h1>Cyberbullying: What is it and how to stop it</h1>
                        <p>We brought together UNICEF specialists, international cyberbullying and child protection experts, and teamed up with Facebook, Instagram, Snapchat, TikTok and X 
                           to answer some of the most common questions about online bullying and give advice on ways to deal with it. </p>
                        <span>UNICEF</span>
                    </article>
    
                    </a>
                 </div>
                <!-- Article 5 -->
    
    
                <!-- Article 6 -->
                <div class="item-6">
                    <a href="https://mb.com.ph/2024/2/7/youth-advocates-urge-children-to-report-cyberbullying" class="card">
                     <div class="thumb" style="background-image: url(https://images.mb.com.ph/production/mb-mkt-neo-prod-1-uploads-2/media/Azumi_8660299d9c/Azumi_8660299d9c.jpg);"></div>
                        
                    <article>
                        <h1>Youth advocates urge children to report cyberbullying</h1>
                        <p>In today's digital age, cyberbullying has become a major concern for children who find themselves navigating in an increasingly complex online world.</p>
                        <span>Rhowen Del Rosario | Manila Bulletin</span>
                    </article>
    
                    </a>
                </div>
                <!-- Article 6 -->
    
    
                <!-- Article 7 -->
                <div class="item-7">
                    <a href="https://journal.com.ph/research-finds-filipino-youth-experiences-of-cyberbullying-more-wide-ranging-than-usually-understood/" class="card">
                     <div class="thumb" style="background-image: url(https://journal.com.ph/wp-content/uploads/2022/07/Cyberbullying-1200x800.jpg);"></div>
                        
                    <article>
                        <h1>Research finds Filipino youth experiences of cyberbullying more wide-ranging than usually understood</h1>
                        <p>Filipino youth experience a wider range of bullying and harassment on social media than earlier studies have identified, new research has found.</p>
                        <span>Journal Online</span>
                    </article>
    
                    </a>
                </div>
                </div>
                <!-- Article 7 -->
    
        </div>
    </section>
    
    <!-- articles sectin ends -->




    <!-- detect section start-->

    <section class="detect" id="detect">
        <div class="heading">
            <h1>Detect Cyberbullying</h1>
            <p>Input the Instagram post link you want to detect.</p>
        </div>

        <!-- Form for inputting Instagram post link -->
        <div class="container">
            <form method="post" action="/">
                <div class="row">
                    <div class="text-form">
                        <input type="text" id="text_input" name="text_input" placeholder="Instagram Post Link" required>
                    </div>
                </div>
                <div class="row">
                    <input class="all-btn" type="submit" value="Detect Cyberbullying">
                </div>
            </form>
        </div>
    </section>
    
    <!-- detect section ends -->


    <!-- Results section -->
    {% if result %}
    <section class="results" id="results">
        <div class="container">

            <div class="row">
                <div class="text-form">
                    <textarea id="result" name="result" placeholder="Results" readonly>{{ result }}</textarea>
                </div>
            </div>
            
            {% if comments %}
            <div class="row">
                <div class="text-form">
                    <h3>Comments:</h3>
                    <ul>
                        {% for comment in comments %}
                        <li>{{ comment }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
            
        </div>
        
    </section>
    {% endif %}
    <!-- Results section -->




    <!-- footer section starts  -->

    <section class="footer" id="footer">
        <div class="box-container">
 
            <div class="box">
                <img src="static/images\logo.png" alt="logo">
 
                <p>A simple web application designed to facilitate the detection of cyberbullying instances on Instagram platform. 
                 Utilizing a Multilingual Transformer-Based Framework and Bidirectional LSTM with Attention Mechanism, 
                 our application aims to provide a solution for identifying potential cyberbullying occurrences.</p>
 
                <p>This is in partial fulfillment of "Cultural Contexts of Cyberbullying on Instagram: 
                 A Multilingual Transformer-Based Framework and Bidirectional LSTM with Attention Mechanism"
                 , a thesis of three students from the Technological Institute of the Philippines - Quezon City: 
                 Joshua Avena, Svepllana Celeste and Lance Evangelista.</p>
             </div>
 
            <div class="box">
               <div class="link">
                <h3>Links</h3>
                 <a hrerf=""><i class="fa-brands fa-github"></i>Github Repository</a>
                 <a href=""><i class="fa-solid fa-file-lines"></i>Cyberbullying Detection Paper</a>
               </div>
            </div>
        </div>
    </section>

    <!-- footer section ends -->


    <!-- scripts -->
    <script src="static\js\script.js"></script>
    <!-- scripts end -->

</body>

</html>